{% extends 'base.html'  %}

	{% block page_name %} Recent Radio Stats {% endblock %}

    {% block title %}Radio Stats{% endblock title %}

    {% block head %}
    {% load static %}

               <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
               <script type="text/javascript" src="{% static '/js/jquery.min.js' %} "></script>
               <script type="text/javascript" src="{% static '/js/jquery.loadmask.min.js' %} "></script>
                <script type="text/javascript" src="{% static '/js/main.js' %} "></script>

    {% endblock head %}



{% block content %}

	{% if recent_stats_dict %}
	<div class="row">
        <div class="col-md-12" id="div_3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title ">
                        Recent Radio Stats
                    </h3>
                </div>
                <div class="panel-body stats">
                    <div id = "recent" >
                       <div>
			<div class="table-responsive">
	
				<table class="table table-striped">
					<tbody>
						<tr>
							<tr>
							    <th>Username
								</th>
							    <th>Account Type
								</th>
								<th>Timestamp
								</th>
								<th>Email
								</th>
								<th>Download
								</th>
								<th>Upload
								</th>
	                            </tr>
						</tr>
							{% for stats in  recent_stats_dict %}
							{% if not stats.status %}
						<tr>
							<td>{{stats.username}}</td>
							<td>{{stats.accounttype}}</td>
							<td>{{stats.timestamp}}</td>
							<td>{{stats.email}}</td>
							<td>{{stats.download}}</td>
							<td>{{stats.upload}}</td>
						</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
	
			</div>
		</div>
                    </div>
                </div>
            </div>
         </div>
    </div>
		
	{% else %}
		{{error}}
	{% endif %}
{% endblock %}