{% if error == '' %}
	<div>
		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
					<tr>
						<th><b>Timestamp</b></th>
						{% for ts in  rs_timestamp %}	
							<th> <b> {{ts}} </b>  </th>
						{% endfor %}
					</tr>
					{% if  rs_logid|length != 1 %}
					<tr class="speedtest_fields">
						<td><b>Speedtest Id</b></td>
						{% for logid in  rs_logid %}	
							<td> {{logid}} </td>
						{% endfor %}
					</tr>
					{%endif%}
					
					
					<tr>
						<td><b>Download Settings</b></td>
						{% for download_settings_stats in  rs_download_settings %}	
							<td> {{download_settings_stats}}  </td>
						{% endfor %}
					</tr>
					
					{% if  rs_download|length != 1 %}
						<tr class="speedtest_fields">
							<td><b>Download Speed</b></td>
							{% for download_stats in  rs_download %}	
								<td> {{download_stats}}  </td>
							{% endfor %}
						</tr>
					{%endif%}
					
					<tr>
						<td><b>Upload Settings</b></td>
						{% for upload_settings_stats in  rs_upload_settings %}	
							<td> {{upload_settings_stats}}  </td>
						{% endfor %}
					</tr>
					
					{% if  rs_upload|length != 1 %}
					<tr class="speedtest_fields">
						<td><b>Upload Speed</b></td>
						{% for upload_stats in  rs_upload %}	
							<td> {{upload_stats}}  </td>
						{% endfor %}
					</tr>
					{%endif%}
					
					<tr>
						<td><b>Antenna Installed</b></td>
						{% for ant_stats in  rs_antenna %}	
							<td> {{ant_stats}}  </td>
						{% endfor %}
					</tr>
					<tr>
						<td><b>Uptime</b></td>
							{% for uptime_stats in  rs_uptime %}
							<td> {{uptime_stats}} </td>
							{% endfor %}
					</tr>
					
					<tr>
						<td><b>Ping</b></td>
						{% for ping_stats in  rs_ping %}	
							<td> {{ping_stats}}  </td>
						{% endfor %}
					</tr>
					<tr>
						<td><b>LAN</b></td>
						{% for lan_status in  rs_lanstatus %}	
							<td> {{lan_status | safe}}  </td>
						{% endfor %}
					</tr>
					
					
					
				</tbody>
			
			</table>
		</div>
	</div>
{% else %}
	<h3 class="acp-center-align">{{error}}</h3>
{% endif %}