{% extends 'base.html'  %}
	{% block page_name %} Get Support {% endblock %}
    {% block title %}Get Support{% endblock title %}

{% block head %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/summernote-bs3.css' %}" />
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/jquery.loadmask.min.js' %} "></script>
	<script type="text/javascript">
		var ua = navigator.userAgent.toLowerCase(); 
		if (ua.indexOf('safari') != -1) { 
		  if (ua.indexOf('chrome') > -1) {
			  // Chrome
		  } else {
			  document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/webshim/1.16.0/dev/polyfiller.js"><\/script>');
		  }
		}
	</script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/summernote.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'tickets/main.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
	<script src="{% static 'js/icheck/icheck.js' %}"></script>
	<script src="{% static 'js/daterangepicker.js' %}"></script>
	<script src="{% static 'js/moment.js' %}"></script>
{% endblock head %}


{% block content %}
<div id="ticket_submit_msg" class="alert no-display"></div>
<div class="row grid">
	<div class="col-md-12" id="div_3">
		    <div class="panel panel-primary abcp-category">
		        <div class="panel-heading">
		            <h2 class="panel-title acp-panel-title-color">
		             Create Ticket
		        </h2>
		    </div>
		    <div class="panel-body">
		        <div class="form-horizontal">
					{% if sub_categories %}
					<div id="sub_category_dd">
						<div class="form-group">
							<label class="col-lg-3 control-label">Select Category</label>
							<div class="col-lg-8">
								<select class="form-control" id="sub_categories_select" onchange="show_form('sub_categories_select')">
									<option value="0">Select</option>
									{%for sc in sub_categories%}
										<option value="{{sc.id}}">{{sc.name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div id="dynamic_form"> </div>
					{% endif %}
				</div>
		    </div>
		    <!-- /panel body -->
		</div>
	</div>
</div>

{% endblock %}

