<form id="create_ticket_form" action="{% url 'tickets:get_form' sub_cat_id %}" method="post">
{% csrf_token %}
<input id="id_missing_card_fields" type="hidden" value="{{missing_card_fields | lower }}" />
<input id="id_missing_check_fields" type="hidden" value="{{missing_check_fields | lower }}" />
{% for field in form.visible_fields %}
	{% if field.name in card_fields %}
		<div class="form-group abcp-card hide-init">
	{% elif field.name in check_fields %}
		<div class="form-group abcp-check hide-init">
	{% elif field.name == 'payment_amount' %}
		<div class="form-group abcp-card-account-fields">
	{% elif field.name == 'card_number' or field.name == 'card_expiry' or field.name == 'card_cvv' %}
		<div class="form-group abcp-card-fields">
	{% elif field.name == 'cable_length' %}
		<div class="form-group abcp-cable-length hide-init">
	{% elif field.name == 'new_payment_method' %}
		<div class="form-group abcp-payment-method">
	{% else %}
		<div class="form-group">
	{% endif %}
	
	{% if field.name == 'description' %}
			<label class="col-lg-3 control-label">{{field.label_tag}}</label>
	        <div class="col-lg-8">
            	<div id="description"></div>
            </div>
	        <input id="description_value" name="{{field.name}}" type="hidden" />
	{% elif 'date' in field.name and 'expiration_date_if_card' != field.name %}
		<label class="col-lg-3 control-label">{{ field.label_tag  }}</label>
                <div class="col-lg-8">
	                	<div class="input-prepend input-group">
							<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
							<input type="text" style="width: 200px" name="{{field.name}}" class="form-control abcp-date-control"
							 />
						</div>
			   </div>
			   
		
		
	{% else %}
		{% if field.name in check_fields and missing_check_fields %}
			<label class="col-lg-3 control-label"></label>
			<div class="col-lg-8"></div>
		
		{% elif field.name in card_fields and missing_card_fields %}
			<label class="col-lg-3 control-label"></label>
			<div class="col-lg-8"></div>
			
		{% else %}
			<label class="col-lg-3 control-label">{{ field.label_tag  }}</label>
			<div class="col-lg-8">{{ field }}</div>
		{% endif %}			
		
		{% if 'i_agree_to_pay_through_my_card_on_file' == field.name %}			   
			<div class="clearfix"></div>
			<br/>		
			<div class="col-lg-8 col-lg-offset-3">
				The details of your card on file are displayed above. 
				To use this card to make the payment, click the check box and click Submit. 
				To update the card on file, click <b><a href="{% url "tickets:generate_up_ticket" %}">HERE</a></b> to submit a ticket
			</div>
		
		{% elif 'i_agree_to_pay_through_my_echeck_on_file' == field.name %}			   
			<div class="clearfix"></div>
			<br/>		
			<div class="col-lg-8 col-lg-offset-3">
				The details of your E-check on file are displayed above. 
				To use this E-check to make the payment, click the check box and click Submit. 
				To update the E-check on file, click <b><a href="{% url "tickets:generate_up_ticket" %}?echeck=1">HERE</a></b> to submit a ticket
			</div>
			
		{% elif 'i_agree_to_modify_my_card_payment_details' == field.name %}			   
			<div class="clearfix"></div>
			<br/>		
			<div class="col-lg-8 col-lg-offset-3">
				The credit card details that we have on file are shown above. 
				Please confirm that you wish to update this information by selecting the checkbox and then click submit. 
				A customer service representative will call you shortly.
			</div>
			
		{% elif 'i_agree_to_modify_my_echeck_payment_details' == field.name %}			   
			<div class="clearfix"></div>
			<br/>		
			<div class="col-lg-8 col-lg-offset-3">
				The E-check details that we have on file are shown above. 
				Please confirm that you wish to update this information by selecting the checkbox and then click submit. 
				A customer service representative will call you shortly.
			</div>
		{% endif %}
		
	{% endif %}
		
	</div>
{% endfor %}
	<div id="id_missing_card_field_msg_div" class="form-group no-display">
		<label class="col-lg-3 control-label"><label ></label></label>
		<div class="col-lg-8">
			Dear Customer we are sorry to inform you that we do not have your Credit Card details with us. 
			Please Click <b><a href="{% url "tickets:generate_up_ticket" %}">HERE</a></b> to submit a ticket for updating your payment method details.
		</div>
	</div>
	
	<div id="id_missing_check_field_msg_div" class="form-group no-display">
		<label class="col-lg-3 control-label"><label ></label></label>
		<div class="col-lg-8">
			Dear Customer we are sorry to inform you that we do not have your E-check Account details with us. 
			Please Click <b><a href="{% url "tickets:generate_up_ticket" %}?echeck=1">HERE</a></b> to submit a ticket for 
			updating your payment method details.
		</div>
	</div>

	<div id="one_time_cc_msg_div" class="form-group no-display">
		<label class="col-lg-3 control-label"><label ></label></label>
		<div class="col-lg-8">
			Thank you for choosing new one time payment method. 
			Our customer service representative will call you shortly to receive and update your new credit card details.
		</div>
	</div>
	
	<div id="one_time_echeck_msg_div" class="form-group no-display">
		<label class="col-lg-3 control-label"><label ></label></label>
		<div class="col-lg-8">
			Thank you for choosing new one time payment method. 
			Our customer service representative will call you shortly to receive and update your new E-check details.
		</div>
	</div>
	
	
	<div class="form-group" id="desired_services_div"></div>
	<div id="service_description"></div>
	<div id="new_equipment_info" class="hide-init">
		<div class="form-group">
				<label class="col-lg-3 control-label"> Length : </label>
				<div id="length_div" class="col-lg-8 abcp-align-fields-with-label">Foot</div>
		</div>
		<div class="form-group">
				<label class="col-lg-3 control-label"> Cost Per Foot : </label>
				<div class="col-lg-8 abcp-align-fields-with-label">$1.10</div>
		</div>
		<div class="form-group">
				<label class="col-lg-3 control-label"> Total Cost : </label>
				<div id="equipment_total_cost" class="col-lg-8 abcp-align-fields-with-label">$</div>
		</div>
		
	</div>
		
	

{% for field in form.hidden_fields  %}
		{{ field }}
{% endfor %}

<input id="selected_parent_category" name="selected_parent_category" type="hidden" />
    <div class="row grid">
		<div id="div_3">
			<div class="panel panel-primary">
                    <div class="form-horizontal">
                        	<label class="col-lg-3 control-label"></label>
                            <div class="acp-reply-section col-lg-8">
                            	<div class="cbp_tmlabel acp-create-form">
                                	<input type="submit" value="Submit" style="display:none;">
                                	<span id="id_submit_container">
                                    	<button type="button" class="btn btn-reply btn-lg abcp-submit-btn" onclick="submit_form()">Submit</button>
                                    </span>
                                    <button type="button" class="btn btn-cancel btn-lg" onclick="go_to_dashboard()">Cancel</button>
                                </div>
                            </div>
                    </div>
           </div>
        </div>
    </div>
</form>

{% load static %}
<script type="text/javascript" src="{% static 'tickets/create_form.js' %}" ></script>

