{% if service_field %}
		<div class="form-group">
			<label class="col-lg-3 control-label"> Cost : </label>
			<div class="col-lg-8 abcp-align-fields-with-label">{{service_field.cost}}</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label"> Tax : </label>
			<div class="col-lg-8 abcp-align-fields-with-label">{{service_field.tax}}</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label"> Description : </label>
			<div class="col-lg-8 abcp-align-fields-with-label">{{service_field.description}}</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label"> Setup Charge : </label>
			<div class="col-lg-8 abcp-align-fields-with-label">{{service_field.setup_charge}}</div>
		</div>
{% endif %}