{% if services %}
<label class="col-lg-3 control-label dummy-label"></label>
<label class="col-lg-3 control-label new-service-label hide-init">Desired Plan:</label>
<label class="col-lg-3 control-label service-label hide-init">Desired New Plan:</label>
	<div class="col-lg-8">
		<select class="form-control service_select" onchange="show_service_description()" id="id_desired_new_services" name="desired_new_services" required="">
			<option value="" selected="selected">Select</option>
		
		{%for sc in services%}
			<option value="{{sc.id}}">{{sc.name}}</option>
		{% endfor %}
		</select>
	</div>
{% endif %}

{% load static %}
<script type="text/javascript" src="{% static 'tickets/services.js' %}" ></script>