{% if sub_categories %}
<div class="form-group">
<label class="col-lg-3 control-label">Select Sub Category</label>
	<div class="col-lg-8">
		<select class="form-control" id="sub_categories_select" onchange="show_form('sub_categories_select')">
			<option value="0">Select</option>
		
		{%for sc in sub_categories%}
			<option value="{{sc.id}}">{{sc.name}}</option>
		{% endfor %}
		</select>
	</div>
</div>
{% endif %}