{% extends 'base.html'  %}


	{% block page_name %}Ticket Detail{% endblock %}
    
    {% block title %}Ticket Detail{% endblock title %}

{% block head %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/summernote-bs3.css' %}" />
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/jquery.loadmask.min.js' %} "></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/summernote.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'tickets/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'tickets/view_ticket.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
{% endblock head %}


{% block content %}
<div class="main-timeline">
	
	{% if ticket_detail %}
		<ul class="cbp_tmtimeline">
			<li>
				<div class="cbp_tmicon">{{ request.session.username.0 }}</div>
				<div class="cbp_tmlabel">
					<h2>{{ticket_detail.subject}}</h2>
					
					<span class='cp-meta'><span class="cp-username">{{ request.session.username}}</span> - Reported on {{ ticket_detail.created_at|date:"m/d/Y" }} @ {{ ticket_detail.created_at|date:"h:i A" }}
					<span class="pull-right">Status: {{ticket_detail.status_str}}</span>
					</span>
					<p>  {% autoescape off %}{{ticket_detail.description }}{% endautoescape %}  </p>
					{% if ticket_detail.id %}
						<input id="ticket_id" type="hidden" value="{{ticket_detail.id}}" />
					{% endif %}
					<input id="is_support" type="hidden" value="{{is_support}}" />
					<input id="is_read" type="hidden" value="{{ticket_detail.custom_fields.is_read}}" />
					
				</div>
			</li>
			<li id="ticket_conv_container"></li>
			<li>
				<time class="cbp_tmtime" datetime=""><span></span> <span></span></time>
				<div class="cbp_tmicon">{{ request.session.username.0 }}</div>

				<div class="cbp_tmlabel">
					<div id="summernote"></div>
					<input id="reply_text" type="hidden" />
					<!--<input id="reply_text" type="text" >-->
			    </div>
			</li>
			<li class="acp-reply-section">
				<div class="cbp_tmlabel">
				<span id="id_reply_container">
					<button id="id_reply_btn" type="button" class="btn btn-reply btn-lg">Reply</button>
				</span>
                <button id="id_cancel_btn" type="button" class="btn btn-cancel btn-lg">Cancel</button>
				<span id="reponse_msg"> </span>
				</div>
			</li>

		</ul>
	{% else %}
		{{error}}
		
	{% endif %}
	
</div>

<script type="text/javascript" src="{% static 'tickets/acp_summernote_config.js' %}" ></script>
{% endblock %}