	{% load static %}
{% if conversations %}
	{%for conv_detail in conversations %}
	
		<li class="{% if conv_detail.is_show_image == True %} reply-airebeam-cp {% endif %}">
				<div class="cbp_tmicon">
				{% if conv_detail.is_show_image == True %}
					<img src ="{%static 'images/airebeam-reply-icon.png' %}" />
				{% else %}
					{{ request.session.username.0 }}
				{% endif %}
				</i></div>
				<div class="cbp_tmlabel">
					<span class='cp-meta'>
					{% if conv_detail.is_show_image == True %}
						<span class="cp-username">Airebeam</span> 
					{% else %}
						<span class="cp-username">{{ request.session.username }}</span>
					{% endif %}
					- {{conv_detail.source_text}} on {{ conv_detail.created_at|date:"m/d/Y" }} @ {{ conv_detail.created_at|date:"h:i A" }}</span>
					<p>{% autoescape off %} {{conv_detail.body}} {% endautoescape %}</p>
				</div>
			</li>
	
	{% endfor %}

{% else %}
	{% if error != ''%}
		<div class="cbp_tmicon"></div>
		<div class="cbp_tmlabel"> {{error}} </div>
		
	{% endif %}
{% endif %}

<script type="text/javascript" src="{% static 'tickets/view_ticket_conversations.js' %}" ></script>