{% if tickets_list %}
</style>
<div class="table-responsive">
	
	<table class="table table-striped" id="recent_tickets_table">
		<thead>
        <tr> 
			<th>Ticket#</th>
			<th>Status</th>
			<th>Subject</th>
			<th class="abcp-lastupdated">Last Updated</th>	
		</tr>
		</thead>
		<tbody>
		{%for ticket in tickets_list %}
			<tr id="ticket_tr_{{ticket.id}}"  class="{% if ticket.highlight == True %}abcp-highlight{% endif %}">
				<td>{{ticket.id}}</td>
				<td>{{ticket.status_text}}</td>
				<td>
						<a class="page_links" id="ticket_link_{{ticket.id}}" href="{% url 'tickets:view_ticket' ticket.id %}">
				        		
				        			{{ ticket.subject }}
				        		
				        </a>				    				
				</td>
				<td class="abcp-lastupdated">{{ticket.updated_at|date:"F d, Y"}} {{ticket.updated_at|date:"h:i A"}}</td>
				
			</tr>
		{% endfor %}
        </tbody>
	</table>
 </div>
{% else %}
	<h3 class="acp-center-align">{{error}}</h3>
{% endif %}

{% load static %}
<script type="text/javascript" src="{% static 'tickets/acp_datatable_config.js' %}" ></script>