<title>Forgot Password or Account Number</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/icheck/icheck.js' %}"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/polaris.css' %}" />
	<script type="text/javascript" src="{% static 'forgot_password/main.js' %}"></script>
	<!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />


	<div class="login-page">
		{% include "login_page_header.html" %}
		<div class="form-section">
			<div class="container">

				<div class="form-inputs">
					<h4>Forgot Password or Account Number?</h4>
					
					<form id="fp_form" action="" method="post">{% csrf_token %}
						<div class="acp-fp-errors"> {{error}} </div>
						<div class="input-group acp-inputs acp-inputs-width">
							{{ form.address_text  }}
							<span class="input-group-addon"><i class="fa fa-home"></i></span>
						</div>
						<div class="acp-fp-errors">
							{{ form.address_text.errors.as_text }}
						</div>
						<div class="input-group acp-inputs acp-inputs-width">
							{{ form.phone_number_text  }}
							<span class="input-group-addon"><i class="fa fa-phone"></i></span>
						</div>
						<div class="acp-fp-errors">
							{{ form.phone_number_text.errors.as_text }}
						</div>
						<div class="input-group acp-inputs acp-inputs-width">
							{{ form.last_four_cc_digit_text  }}
							<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
						</div>
						<div class="acp-fp-errors">
							{{ form.last_four_cc_digit_text.errors.as_text }}
						</div>
                        
						<div class="input-group acp-inputs acp-inputs-width">
                        	{{ form.mbr_checkbox }} <label for="id_mbr_checkbox" class="acp-fp-check-text">{{ form.mbr_checkbox.label}}</label>
						</div>
						<div class="acp-fp-errors">
							{{ form.mbr_checkbox.errors.as_text }}
						</div>
	    					<div>
	    						
								<input id="fp_submit_btn" onclick="submit_form()" type='button' value='Submit' class="btn btn-info pull-right" />
                                <input id="return_to_login_btn" onclick="return_to_login()" type="button" value="Return to login" class="btn btn-info">
								
							</div>
							
							<button class="acp-forgot-checkbox" id="chk_btn" type="button"></button>
							
							
					</form>

			</div>				
			</div>
		</div><!--emd of form-section-->
		{% include "footer_before_login.html" %}
	</div><!--cnd of Forgot password page-->