{% if mbr_detail %}
	
							<table class="table table-striped acp-account-details">
							<tbody>
							<tr>
								<td class="abcp-highlight">Account Number(MBR)</td>
								<td>{{ mbr_detail.MBR }}</td>
							</tr>
							
							<tr>
								<td class="abcp-highlight">Account Start Date</td>
								<td>{{ mbr_detail.MBRSTARTDATE }}</td>
							</tr>
							<tr>
								<td class="abcp-highlight">Account Type</td>
								<td>{{onlinecheck.ACCOUNTTYPE}}</td>
							</tr>
							
							<tr>
								<td class="abcp-highlight">Customer Name</td>
								<td>{{ mbr_detail.LASTNAME }}, {{ mbr_detail.FIRSTNAME }} </td>
							</tr>
							
							<tr>
								<td class="abcp-highlight">Card On File</td>
								<td>{{mbr_detail.LASTFOUR}}</td>
							</tr>
							
							<tr>
								<td class="abcp-highlight">Email </td>
								<td>{{ mbr_detail.EMAIL }}</td>
							</tr>
							<tr>
								<td class="abcp-highlight">Home Phone </td>
								<td>{{mbr_detail.PHONEHOME}}</td>
							</tr>
							
							<tr>
								<td class="abcp-highlight">Work Phone </td>
								<td>{{ mbr_detail.PHONEWORK }}</td>
							</tr>
							
							<tr>
								<td class="abcp-highlight">Fax </td>
								<td>{{mbr_detail.PHONEFAX}}</td>
							</tr>
							
							<tr>
								<td class="abcp-highlight">Address 1</td>
								<td>{{ mbr_detail.ADDRESS1 }}</td>
							</tr>
							<tr>
								<td class="abcp-highlight">Address 2</td>
								<td>{{ mbr_detail.ADDRESS2 }}</td>
							</tr>
							<tr>
								<td class="abcp-highlight">City, State, Zip</td>
								<td>{{ mbr_detail.CITY }}, {{mbr_detail.STATE }}, {{mbr_detail.ZIP }}</td>
							</tr>
							
					        </tbody>
						</table>
					 
	
	
	{% else %}
		{{error}}
	{% endif %}

