<html lang="en">

<head>
	<title>Contact Us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109263632-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-109263632-2');
	</script>
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/icheck/icheck.js' %}"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/summernote.min.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
	<script type="text/javascript" src="{% static 'contact_us/main.js' %}"></script>
	<script src='//www.google.com/recaptcha/api.js'></script>
	<!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />


</head>
<body class="abcp-contact-bg abcp-thanks-page">
	<div class="site-holder">
	{% include "header_before_login.html" %}
			<div class="box-holder abcp-contact-content">
			
	

			<!-- Showed success/error message -->
				{% if success == 1  %}
			    	<div id="ticket_submit_msg" class="alert alert-success"> Message successfully submitted.</div>
			    {% elif success == 0 %}
			    	<div id="ticket_submit_msg" class="alert alert-danger"> Message not submitted.</div>
			    {% else %}
			    	<div id="ticket_submit_msg"></div>
			    {% endif %}
	
			<!-- .content -->
			<div class="abcp-content-holder no-margin-left">

<div class="row grid">
	<div class="col-md-12" id="div_3">
		    <div class="panel panel-primary abcp-category">
		        <div class="panel-heading">
		            <h2 class="panel-title acp-panel-title-color">
		             Contact Us
		        </h2>
		    </div>
		    <div class="panel-body">
		    
		        <div class="form-horizontal">
		        
                    

								
								<div id="dynamic_form">
								<form id="contact_form" action="" method="post">{% csrf_token %}

	
		

	
		

	
	<div class="form-group">
		<label class="col-lg-3 control-label">{{ form.name.label_tag  }}</label>
		<div class="col-lg-8">{{ form.name  }}</div>
		
	</div>
	
	<div class="form-group">
		<label class="col-lg-3 control-label"></label>
		<div class="col-lg-8 text-danger">{{ form.name.errors.as_text }}</div>
		
	</div>
		
	<div class="form-group">
		<label class="col-lg-3 control-label">{{ form.email.label_tag  }}</label>
		<div class="col-lg-8">{{ form.email  }}</div>
	</div>
	
	<div class="form-group">
		<label class="col-lg-3 control-label"></label>
		<div class="col-lg-8 text-danger">{{ form.email.errors.as_text }}</div>
		
	</div>
	
	<div class="form-group">
		<label class="col-lg-3 control-label">{{ form.subject.label_tag  }}</label>
		<div class="col-lg-8">{{ form.subject  }}</div>
	</div>
	
	<div class="form-group">
		<label class="col-lg-3 control-label"></label>
		<div class="col-lg-8 text-danger">{{ form.subject.errors.as_text }}</div>
		
	</div>
	
		<div class="form-group">
	
	
	
			<label class="col-lg-3 control-label"><label>Message:</label></label>
	        <div class="col-lg-8">
            	<div id="description"></div>
            </div>
	        <input id="description_value" name="description" type="hidden" />
	
		
	</div>
	
	<div class="form-group">
		<label class="col-lg-3 control-label"></label>
		<div class="col-lg-8 g-recaptcha" data-sitekey="{{request.session.captcha_key}}"></div>
	</div>
	<div class="form-group">
		<label class="col-lg-3 control-label"></label>
		<div class="col-lg-8 text-danger" >{{error}}</div>
	</div>
	

	
	
	
		
	


		

		

		

		



    <div class="row grid">
		<div id="div_3">
			<div class="panel panel-primary">
                    <div class="form-horizontal">
                        	<label class="col-lg-3 control-label"></label>
                            <div class="acp-reply-section col-lg-8">
                            	<div class="cbp_tmlabel acp-create-form">
                                	<input type="submit" value="Submit" style="display:none;">
                                	<span id="id_submit_container" title="">
                                    	<button type="button" class="btn btn-reply btn-lg abcp-submit-btn" onclick="submit_form()">Submit</button>
                                    </span>
                                    <button type="button" class="btn btn-cancel btn-lg" onclick="return_to_login()">Cancel</button>
                                </div>
                            </div>
                    </div>
           </div>
        </div>
    </div>
</form>




</div>
							
                    
                     
                    
		        </div>
		    </div>
		    <!-- /panel body -->
		</div>
	</div>
</div>


					</div>

			</div>
			
			<!-- /.content -->

		{% include "footer_before_login.html" %}
		</div>
	
	
	

</body>


</html>