<html lang="en">
<head>
	<title>Contact Us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>

<body>
<div class="abcp-thanks-page thanks-page">
	<div class="site-holder">
	{% include "header_before_login.html" %}
		<div class="abcp-footer-fix abcp-contact-content">
<!-- .content -->
	<div class="abcp-content-holder no-margin-left">
	<div class="row grid">
	<div class="col-md-12" id="div_3">
	<div class="box-holder">
		<div class="abcp-thankyou-msg-container">

			<div class="well well-lg abcp-thankyou-msg">
				<h3 class="text-center">Thank you for Contacting Us. Your submission has been received!</h3>
				<div class="text-center"><a onclick="go_to_dashboard()" class="btn btn-success btn-lg" role="button">{{back_btn_text}}</a></div>
			</div>

		</div>
	</div>
	</div></div></div></div>
	{% include "footer_before_login.html" %}
	</div>
</div>

<script type="text/javascript" src="{% static 'contact_us/thank_you.js' %}" ></script>
</body>

</html>



	
	

