<title>Operator Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/icheck/icheck.js' %}"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'agents/main.js' %}"></script>
	<!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

	
	

	<div class="login-page">
		{% include "login_page_header.html" %}
		<div class="form-section">
		
			<div class="container">
			<!-- Showed success/error message -->
				<div class="form-inputs">
					<h4>Operator Login</h4>
					
					<form id="agent_login_form" action="" method="post">{% csrf_token %}
						<div class="acp-fp-errors"> {{error}} </div>
						<div class="input-group acp-inputs acp-inputs-width">
							{{ form.username  }}
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
						</div>
						<div class="acp-fp-errors">
							{{ form.username.errors.as_text }}
						</div>
						<div class="input-group acp-inputs acp-inputs-width">
							{{ form.password  }}
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						</div>
						<div class="acp-fp-errors">
							{{ form.password.errors.as_text }}
						</div>
						<div class="input-group acp-inputs acp-inputs-width">
							{{ form.mbr  }}
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
						</div>
						<div class="acp-fp-errors">
							{{ form.mbr.errors.as_text }}
						</div>

	    					<div>
								<input id="agent_submit_btn" onclick="submit_form()" type='button' value='Submit' class="btn btn-info pull-right" />
							</div>
							
							<button class="acp-forgot-checkbox" id="chk_btn" type="button"></button>
							
							
					</form>

			</div>				
			</div>
		</div><!--emd of form-section-->
		{% include "footer_before_login.html" %}
	</div><!--cnd of Forgot password page-->