{# This is base.html #}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Home {% endblock title %}</title>
	
	{% load static %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109263632-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-109263632-2');
	</script>
	
	 <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	 <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	 <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}" />
     <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
    
	 <script>
	 function go_to_dashboard(){
			window.location = '{% url "dashboard:index" %}';
		}	 
	 </script>
	{% block head %}

	{% endblock head %}

</head>
<body class='{% if request.path == "/" %} acp-body-dashboard {% endif %}' >
	<div class="site-holder">
	{% include "header.html" %}
		<div class="box-holder">
			{% include "sidebar.html" %}
			<!-- .content -->
			<div class="content  animated fadeInBig">
				<div class="breadcrumb-holder">
					<ul class="breadcrumb">
						<li class="active col-xs-12 col-sm-7 col-md-8 col-lg-9 abcp-page-heading">
						<span>{% block page_name %}

						{% endblock %}</span>
						</li>
						{% if request.session.user_access_level == 2 and 'agent_username' in request.session %}
						<li class="active col-xs-12 col-sm-5 col-md-4 col-lg-3">
						<form class="form-inline acp-switch-mbr">
						<div class="form-group">
							<input class="form-control" placeholder="Account number" type="text" id="input_mbr">
						</div>
						<button class="btn btn-success" id="btn_switch_account" onclick="switch_account('input_mbr')"><i class="fa fa-check"></i></button>
						</form>					
						</li>
						{% endif %}
					</ul>
					
				  
				</div>
				{% if request.session.user_access_level == 2 and 'agent_username' not in request.session %}
					<div class="row no-margin-bottom">
						<div class="col-md-12">
							<div class="alert alert-info shallow-msg no-margin-bottom">You are currently logged into the portal in <b>Limited Access</b> mode. In order to have complete access to the portal, please click <a href="{% url "reset_password:user_has_contact" %}"> <b>Get Complete Access</b> </a><br></div> 
						</div>
					</div>
				{% elif request.session.user_access_level == 2 and 'agent_username' in request.session %}
					<div class="acp-mbr-error row no-margin-bottom hide-until-populated">
						<div class="col-md-12">
							<div class="alert alert-danger shallow-msg no-margin-bottom"> You are logged in as {{request.session.agent_username}}. You have entered an invalid Account Number. Please enter a valid customer Account Number to proceed </div> 
						</div>
					</div>
					
					<div class="acp-mbr-dependent row no-margin-bottom hide-until-populated">
						<div class="col-md-12">
							<div class="alert alert-info shallow-msg no-margin-bottom">Note: You are logged in as {{request.session.agent_username}} for Account Number {{request.session.data.mbr}}. You have limited access to the portal as you have logged in on customer's behalf.<br></div> 
						</div>
					</div>
                {% endif %}
			  
				<div class="main-content masked-relative masked hide-until-populated">
						{% block content %}
					     My content
					    {% endblock %}
					</div>
				</div>
			</div>
			{% include "footer.html" %}
			<!-- /.content -->
		</div>
	</div>
	
	<script src="{% static 'js/jquery.accordion.min.js' %}" ></script>
	<script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
	<script src="{% static 'js/bootstrap-progressbar.min.js' %}" ></script>
	<script src="{% static 'js/jquery.easy-pie-chart.js' %}" ></script>
	<!-- Use minified version of core.js after modifying loadpageurl function  -->
	<script src="{% static 'js/core.js' %}"></script>
</body>
</html>