<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
  <!-- Styles -->

	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/notfound.css' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
</head>
<body>

<header class="login-page" style="background-color: #fff;"><div class="header-section">
	<a href="https://dev-portal.airebeam.com"><img src="/static/images/logo.png   " alt=""></a>
	<div class="acp-header-text-cp hidden-below-780">Customer Support Portal</div>
</div></header>

<main>
	<div class="page-notfound">
		<div class="info">
			<i class="fa fa-meh-o"></i>
			<h1>404!</h1>
			<h3>PAGE NOT FOUND</h3>
			<p>Please continue to our <a href="/"><strong>Home Page...</strong></a></p>
		</div>
	</div>
</main>

<footer class="abcp-404-footer">
	<div class="site-footer-crtext row footer abcp-footer-bl">
		<p class="col-xs-12 col-sm-6 text-left">Copyrights 2017 © <a href="#"><strong>Airebeam</strong></a> - All Rights Reserved</p>
		<p class="col-xs-12 col-sm-6 text-right">
			<a href="/contact_us/" class="page_links acp-right-links">Contact Us</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<a target="_blank" href="//dev-dispatch.airebeam.net/assets/admin/terms/current/TOC.pdf" class="acp-right-links">Terms of Services</a>
		</p>
	</div>
</footer>

</body>
</html>
