<div class="footer abcp-footer-bl">
	<p class="col-xs-12 col-sm-6">Copyrights 2017 &copy; <a href="#"><strong>Airebeam</strong></a> - All Rights Reserved</p>
	<p class="col-xs-12 col-sm-6 text-right">
	  <a href="{% url 'contact_us:index' %}" class="acp-right-links">Contact Us</a>
	  &nbsp;&nbsp;|&nbsp;&nbsp;
	  <a target="_blank" href="{{ request.session.terms_pdf }}" class="acp-right-links">Terms of Services</a>
	</p>
</div>