<header>
    {% load static %}
	<nav class="navbar navbar-default nav-delighted " role="navigation">
        <a href="#" class="toggle-left-sidebar">
            <i class="fa fa-th-list"></i>
        </a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#" onclick="go_to_dashboard()">
                <img src="{% static 'images/airebeam-cp-logo.jpg' %}" alt="">
            </a>
        </div>
        <div class="acp-header-text-cp visible-md visible-lg">Customer Support Portal</div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            
                <li>
                    <!-- <a  href='{% url "tickets:categories" %}' data-original-title='Support' 
                    class='page_links acp-getsupport acp-mbr-dependent hide-until-populated'>
                        <i class="icon ion-ios7-people"></i> GET SUPPORT
                    </a> -->
                </li>
            
                <li>
                    <a href="{% url 'users:logout' %}" class="logout">
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div class="abcp-sm-title hidden-md hidden-lg">
        <h2 class="text-white acp-header-text-cp ">Customer Support Portal</h2>
    </div>
</header>
