<header>
		<nav class="navbar navbar-default nav-delighted abcp-contact-nav" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header no-width-480">
				<a class="navbar-brand acp-pointer-cursor" onclick="go_to_dashboard()">
					<img src="/static/images/airebeam-cp-logo.jpg" alt="">
				</a>
			</div>
			<div class="acp-header-text-cp abcp-hide-480">Customer Support Portal</div>
			<!-- Collect the nav links, forms, and other content for toggling -->

			<!-- /.navbar-collapse -->
		</nav>
	</header>