{% load static %}
<div class="header-section">
			<a href="{% url "users:login" %}"><img src="{% static 'images/logo.png' %}   " alt=""></a>
            <div class="acp-header-text-cp abcp-hide-480">Customer Support Portal</div>
		</div><!--end of header -section-->