<div>
    {% load static %}

    <div class="left-sidebar">
        <div class="sidebar-holder">
            <!-- User   -->
            
            <div class="user-menu">
	            
	                <div class="user-info acp-mbr-dependent hide-until-populated">
	                    <div class="welcome">Welcome,</div>
	                    <div class="username">{{ request.session.username }}</div>
	                </div>
	            
            </div>
            
            <!-- /.User   -->
            <!-- Menu -->
            <ul class="nav  nav-list">
                <li class='acp-mbr-dependent hide-until-populated {% if request.path == "/" %} active {% endif %}'>
                    <a class="page_links" href='{% url "dashboard:index" %}' data-original-title='Dashboard'>
                        <i class='icon ion-home'></i>
                        <span class='hidden-minibar'>Dashboard</span>
                    </a>
                </li>
                
	                <li class='acp-mbr-dependent hide-until-populated {% if request.path == "/tickets/categories" %} active {% endif %}'>
	                    <a class="page_links" href='{% url "tickets:categories" %}' data-original-title='Support'>
	                        <i class='icon ion-ios7-people'></i>
	                        <span class='hidden-minibar'>Billing
	                        </span>
	                    </a>
	                </li>
	                
	                <li class='acp-mbr-dependent hide-until-populated {% if request.path == "/change_password/index" %} active {% endif %}'>
	                    <a class="page_links" href='{% url "change_password:index" %}' data-original-title='ChangePassword'>
	                        <i class='fa fa-key'></i>
	                        <span class='hidden-minibar'>Change Password
	                        </span>
	                    </a>
	                </li>
                
                <li class='acp-mbr-dependent hide-until-populated'>
                    <a class="page_links" href='{% url "users:logout" %}' data-original-title='Logout'>
                        <i class='fa fa-power-off'></i>
                        <span class='hidden-minibar'>Logout
                        </span>
                    </a>
                </li>
                <!-- components -->
            </ul>
            <!-- /.Menu -->
        </div>
        <div class="acp-versionnum visible-lg visible-md">
			Copyrights 2017 &copy; Airebeam <br>
			<a href="{% url 'contact_us:index' %}" class="page_links acp-sidebar-links">Contact Us</a> | 
			<a target="_blank" href="{{ request.session.terms_pdf }}" class="acp-sidebar-links">Terms of Services</a> 
			V{{request.session.version_num}}
		</div>
        <!-- /.left-sidebar Holder-->
    </div>
</div>
