<title>Customer Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109263632-2"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	
	gtag('config', 'UA-109263632-2');
</script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/icheck/icheck.js' %}"></script>
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/polaris.css' %}" />
<script type="text/javascript" src="{% static 'users/main.js' %}"></script>

	<div class="login-page">
		{% include "login_page_header.html" %}
		<div class="form-section">
			<div class="container">

				<div class="form-inputs">
					<h4>Customer Login</h4>
					
					<form id="login_form" action="{% url 'users:login' %}" method="post">{% csrf_token %}
						<div class="acp-fp-errors" >{{error}} </div>
						<div class="input-group acp-inputs acp-inputs-width">
							{{ form.mbr }}
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
						</div>
						<div class="acp-fp-errors">
							{{ form.mbr.errors.as_text }}
						</div>
						<div class="input-group acp-inputs acp-inputs-width">
							{{ form.password }}
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
	    					
						</div>
						<div class="acp-fp-errors">
							{{ form.password.errors.as_text }}
						</div>
	    					<div class="input-group acp-login-btn acp-inputs-width">
								<input id="login_btn" onclick="submit_form()" type='button' value='Login' class="btn btn-info pull-right" />
							</div>
							<h5 class="pull-right acp-link"><a href='{% url "forgot_password:index" %}'>Forgot Password or Account Number?</a></h5>
							
					</form>

			</div>				
			</div>
		</div><!--emd of form-section-->
		
		{% include "footer_before_login.html" %}
		
		
	</div><!--cnd of login-page-->