
{% extends 'base.html'  %}

	{% block page_name %}Get Complete Access{% endblock %}

    {% block title %}Call Approval{% endblock title %}

    {% block head %}
    {% load static %}

               <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
               <script type="text/javascript" src="{% static '/js/jquery.min.js' %} "></script>
               <script type="text/javascript" src="{% static '/js/bootstrap.min.js' %}"></script>
               <script type="text/javascript" src="{% static '/js/acp_common.js' %} "></script>
               <script type="text/javascript" src="{% static '/js/jquery.loadmask.min.js' %} "></script>
                <script type="text/javascript" src="{% static '/js/main.js' %} "></script>
	 			<script src="{% static 'js/icheck/icheck.js' %}"></script>
				<link rel="stylesheet" type="text/css" href="{% static 'css/polaris.css' %}" />
				<script type="text/javascript" src="{% static 'reset_password/call_approval.js' %} "></script>

    {% endblock head %}



{% block content %}
<div class="row grid">
	<div class="col-sm-12">
		<div class="abcp-thankyou-msg-container">
			<form action="" method="post">{% csrf_token %}
			<div class="well well-lg abcp-thankyou-msg" style="background-color: #fff;">
				<h3 class="text-center" style="font-size: 23px;">To grant complete access to the portal, our Customer Service Representative needs to contact you at the following home phone {{phonehome}} between 09:00 a.m and 04:00 p.m hour(s). If the hours are acceptable, please acknowledge by hitting the 'Approved' button below. </h3>
				<div class="text-center"><input type="submit" value="Approve" class="btn btn-success btn-lg"></div>
			</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
