<html lang="en">
<head>
	<title>Resetting Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	<script type="text/javascript" src="{% static 'reset_password/email_approval.js' %}"></script>
</head>

<body>
<div class="abcp-thanks-page abcp-has-fixed-footer thanks-page">
	<div class="site-holder">
	{% include "header_before_login.html" %}	
	<div class="abcp-footer-fix abcp-contact-content">
<!-- .content -->
	<div class="abcp-content-holder no-margin-left">
	<div class="row grid">
	<div class="col-md-12" id="div_3">
	<div id="resend_code_div" class="alert alert-success text-center no-display">An email containing password reset link has been sent to you.</div>
	<div class="box-holder">
		<div class="abcp-thankyou-msg-container">

			<div class="well well-lg abcp-thankyou-msg">
				<h3 class="abcp-sent-email-msg text-center">An email will be sent to you at {{customer_email}}. If this seems to be your email address, click Approve & Proceed button</h3>
				<div class="text-center">
					<span class="acp-links-pad-right">
						<a id="approve_send_email_btn" class="btn btn-success btn-lg" role="button">Approve & Proceed</a>
					</span>
					<span class="acp-links-pad-left">
						<a onclick="go_to_dashboard()" class="btn btn-default btn-airebeam btn-lg" role="button">{{back_btn_text}}</a>
					</span>
				</div>
				
			</div>
			
			<div id="reset_password_msg" class="well well-lg abcp-thankyou-msg no-display">
				<div class="text-center">Password reset link has been sent to your email. Please check your email and proceed accordingly. If no email has arrived, Please click 
				<a id="id_send_email_again">Send Email again</a>.</div>
				
			</div>
			
			<div id="reset_password_msg_error" class="well well-lg abcp-thankyou-msg no-display">
				<div  class="text-center">An email has not been sent. Please try later.</div>
				
			</div>
		</div>
	</div>
	</div></div></div></div>
	{% include "footer_before_login.html" %}
	</div>
</div>

<script type="text/javascript" src="{% static 'contact_us/thank_you.js' %}" ></script>
</body>

</html>



	
	

