<html lang="en">
<head>
	<title>Resetting Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>

<body>
<div class="abcp-thanks-page thanks-page">
	<div class="site-holder">
	<header>
		<nav class="navbar navbar-default nav-delighted abcp-contact-nav" role="navigation">
			<a href="#" class="toggle-left-sidebar">
				<i class="fa fa-th-list"></i>
			</a>
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand acp-pointer-cursor" onclick="go_to_dashboard()">
					<img src="/static/images/airebeam-cp-logo.jpg" alt="">
				</a>
			</div>
			<div class="acp-header-text-cp visible-md visible-lg">Customer Support Portal</div>
			<!-- Collect the nav links, forms, and other content for toggling -->

			<!-- /.navbar-collapse -->
		</nav>
	</header>


	<div class="box-holder">
		<div class="abcp-thankyou-msg-container">

			<div class="well well-lg abcp-thankyou-msg">
				<h3 class="text-center">Your Reset Password link is expired. You will have to request a new link. Please repeat same steps to recover forgotten password.</h3>
				<div class="text-center"><a onclick="go_to_dashboard()" class="btn btn-success btn-lg" role="button">Return To Login</a></div>
			</div>

		</div>
	</div>

	{% include "footer_before_login.html" %}
	</div>
</div>

<script type="text/javascript" src="{% static 'contact_us/thank_you.js' %}" ></script>
</body>

</html>



	
	

