{% extends 'base.html'  %}
	{% block page_name %} Customer Contact Info {% endblock %}
    {% block title %}Customer Contact Info{% endblock title %}

{% block head %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/summernote-bs3.css' %}" />
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/jquery.loadmask.min.js' %} "></script>
	<script type="text/javascript">
		var ua = navigator.userAgent.toLowerCase(); 
		if (ua.indexOf('safari') != -1) { 
		  if (ua.indexOf('chrome') > -1) {
			  // Chrome
		  } else {
			  document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/webshim/1.16.0/dev/polyfiller.js"><\/script>');
		  }
		}
	</script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrapValidator.js' %}"></script>
	<script src="{% static 'js/summernote.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'tickets/main.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
	<script src="//igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
	<script src="{% static 'js/icheck/icheck.js' %}"></script>
	<script src="{% static 'js/daterangepicker.js' %}"></script>
	<script src="{% static 'js/moment.js' %}"></script>
	<script src="{% static 'reset_password/customer_contact_info.js' %}" ></script>
{% endblock head %}

{% block content %}
<div class="row grid">
	<div class="col-md-12" id="div_3">
		    <div class="panel panel-primary abcp-category">
		        <div class="panel-heading">
		            <h2 class="panel-title acp-panel-title-color">
		             Customer Contact Info
		        </h2>
		    </div>
		    <div class="panel-body">
		        <div class="form-horizontal">
		        
                    

		
								<div id="customer_info_form_div">
								
								<form id="customer_info_form" action="" method="post">{% csrf_token %}
	
		<div class="form-group">
			<label class="col-lg-3 control-label"><label for="id_mbr">MBR:</label></label>
			<div class="col-lg-8"><input class="form-control" id="id_mbr" maxlength="100" name="mbr" value="{{mbr}}" type="text" required="" readonly></div>
		</div>
		
		<div class="form-group">		
			<label class="col-lg-3 control-label"><label for="id_name">Name:</label></label>
			<div class="col-lg-8"><input class="form-control" id="id_name" maxlength="100" name="name" value="{{customer_name}}" type="text" required="" readonly></div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label"><label for="id_phone">Phone:</label></label>
			<div class="col-lg-8"><input class="form-control" id="id_phone" maxlength="10" name="phone" type="text" required=""></div>
			<small class="help-block col-lg-offset-3 col-lg-9 no-display atleast-one-req">Email/Phone is required</small>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label"><label for="id_email">Email:</label></label>
			<div class="col-lg-8"><input class="form-control" id="id_email" maxlength="100" name="email" type="text" required=""></div>
			<small class="help-block col-lg-offset-3 col-lg-9 no-display atleast-one-req">Email/Phone is required</small>
		</div>
		
	

    <div class="row grid">
		<div id="div_3">
			<div class="panel panel-primary">
                    <div class="form-horizontal">
                        	<label class="col-lg-3 control-label"></label>
                            <div class="acp-reply-section col-lg-8">
                            	<div class="cbp_tmlabel acp-create-form">
                            	<!-- nput type="submit" value="Submit" class="btn btn-reply btn-lg abcp-submit-btn"-->
                            	<span id="id_submit_container" title="">
                                    	<button type="button" class="btn btn-reply btn-lg abcp-submit-btn" onclick="submit_form()">Submit</button>
                                    </span>
                                <button type="button" class="btn btn-cancel btn-lg" onclick="go_to_dashboard()">Cancel</button>
                                </div>
                            </div>
                    </div>
           </div>
        </div>
    </div>
</form>


</div>
							
                    
                     
                    
		        </div>
		    </div>
		    <!-- /panel body -->
		</div>
	</div>
</div>

{% endblock %}