<html lang="en">

<head>
	<title>Reset Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/icheck/icheck.js' %}"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'reset_password/main.js' %}"></script>

</head>
<body class="abcp-contact-bg abcp-thanks-page">

	<div class="site-holder">
	{% include "header_before_login.html" %}
	
	<div id="error_div" class="alert alert-danger no-display"></div>
			<div class="abcp-footer-fix abcp-contact-content">
			<!-- .content -->
			<div class="abcp-content-holder no-margin-left">
 {% if error != '' %}
	<div  class="alert alert-danger"> {{error}} </div>
 {% endif %}
<div class="row grid">
	<div class="col-md-12" id="div_3">
		    <div class="panel panel-primary abcp-category">
		        <div class="panel-heading">
		            <h2 class="panel-title acp-panel-title-color">
		             Reset Password
		        </h2>
		    </div>
		    <div class="panel-body">
		    
		        <div class="form-horizontal">
		        								<div id="dynamic_form">
								<form id="reset_pass_form" action="" method="post">
	
	<div class="form-group">
		<label class="col-lg-3 control-label">New Password</label>
		<div class="col-lg-8">
			<input id="id_new_password" class="form-control" type="password" name="new_password" />
		</div>
		
	</div>
	
	<div class="form-group">
		<label class="col-lg-3 control-label"></label>
		<div class="col-lg-8 text-danger"></div>
		
	</div>
		
	<div class="form-group">
		<label class="col-lg-3 control-label">Confirm New Password</label>
		<div class="col-lg-8">
			<input id="id_confirm_new_password" class="form-control" type="password" name="confirm_new_password" />
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-lg-3 control-label"></label>
		<div class="col-lg-8 text-danger"></div>
		
	</div>

    <div class="row grid">
		<div id="div_3">
			<div class="panel panel-primary">
                    <div class="form-horizontal">
                        	<label class="col-lg-3 control-label"></label>
                            <div class="acp-reply-section col-lg-8">
                            	<div class="cbp_tmlabel acp-create-form">
                                	<span id="id_submit_container" title="">
                                		<input id="medium_value" type="hidden" value="{{medium}}" />
                                		<input id="mbr_value" type="hidden" value="{{mbr}}" />
                                		<input id="token_value" type="hidden" value="{{token}}" />
                                    	<button id="rp_submit_btn" type="button" class="btn btn-reply btn-lg abcp-submit-btn {% if error != '' %}disabled{% endif %}" onclick="reset_password()">Submit</button>
                                    </span>
                                    <button type="button" class="btn btn-cancel btn-lg" onclick="return_to_login()">Cancel</button>
                                </div>
                            </div>
                    </div>
           </div>
        </div>
    </div>
</form>




</div>
							
                    
                     
                    
		        </div>
		    </div>
		    <!-- /panel body -->
		</div>
	</div>
</div>


					</div>

			</div>
			
			<!-- /.content -->

		{% include "footer_before_login.html" %}
		</div>
	
	
	

</body>


</html>