<html lang="en">
<head>
	<title>Resetting Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<script type="text/javascript" src="{% static '/js/jquery.loadmask.min.js' %} "></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
	<script type="text/javascript" src="{% static 'reset_password/sms_approval.js' %}"></script>
</head>

<body>
<div class="abcp-thanks-page abcp-has-fixed-footer thanks-page">
	<div class="site-holder">
	{% include "header_before_login.html" %}
	<div class="abcp-footer-fix abcp-contact-content">
<!-- .content -->
	<div class="abcp-content-holder no-margin-left">
	<div class="row grid">
	<div class="col-md-12" id="div_3">
	<div id="error_div" class="alert alert-danger no-display"></div>
	<div id="resend_code_div" class="alert alert-success text-center no-display">A verification code has been sent to you by SMS.</div>
	
	<div class="box-holder">
		<div class="abcp-thankyou-msg-container">

			<div class="well well-lg abcp-thankyou-msg">
				<h3 class="text-center">A verification code will be sent to you via SMS at Mobile Number {{customer_cellphone}}. If this seems to be your Mobile phone number, click Approve & Proceed button.</h3>
				<div class="text-center">
					<span class="acp-links-pad-right">
						<a id="approve_send_sms_btn" class="btn btn-success btn-lg" role="button">Approve & Proceed</a>
					</span>
					<span class="acp-links-pad-left">
						<a onclick="go_to_dashboard()" class="btn btn-default btn-airebeam btn-lg" role="button">{{back_btn_text}}</a>
					</span>
				</div>
				
			</div>
			
			<div id="reset_password_msg" class="well well-lg abcp-thankyou-msg no-display">
			<div class="text-center">A verification code has been sent to you by SMS. Please check your inbox for SMS and proceed accordingly.<a id="id_send_code_again"> Send code again</a>.</div>
				<div>
<form class="from-horizontal abcp-enter-code" style="height: 40px;"><div class="form-group">
								<input id="mbr_value" type="hidden" value="{{mbr}}">
									<label for="sms_code_txt" class="control-label col-xs-12 col-sm-4 no-padding" style="margin-top: 8px;text-align: right;padding-right: 0px;">Enter Code</label>
									<div class="col-xs-12 col-sm-4"><input id="sms_code_txt" class="form-control" type="text"></div>
									<div class="col-xs-12 col-sm-3 no-padding"><button id="btn_verify_sms_code" class="btn btn-success" type="button" style="margin-top: 0px !important;">Submit</button></div>
  </div></form>
				</div>
				
				
			</div>
			
			<div id="reset_password_msg_error" class="well well-lg abcp-thankyou-msg no-display">
				<div  class="text-center">Sms code has not been sent. Please try later.</div>
				
			</div>

		</div>
	</div>
	</div></div></div></div>
	{% include "footer_before_login.html" %}
	</div>
</div>

<script type="text/javascript" src="{% static 'contact_us/thank_you.js' %}" ></script>
</body>

</html>



	
	

