
{% extends 'base.html'  %}

	{% block page_name %}Get Complete Access{% endblock %}

    {% block title %}Call Approval{% endblock title %}

    {% block head %}
    {% load static %}

               <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
               <script type="text/javascript" src="{% static '/js/jquery.min.js' %} "></script>
               <script type="text/javascript" src="{% static '/js/bootstrap.min.js' %}"></script>
               <script type="text/javascript" src="{% static '/js/acp_common.js' %} "></script>
               <script type="text/javascript" src="{% static '/js/jquery.loadmask.min.js' %} "></script>
                <script type="text/javascript" src="{% static '/js/main.js' %} "></script>
	 			<script src="{% static 'js/icheck/icheck.js' %}"></script>
				<link rel="stylesheet" type="text/css" href="{% static 'css/polaris.css' %}" />
    {% endblock head %}



{% block content %}
<div class="row grid">
	<div class="col-sm-12">
		<div class="abcp-thankyou-msg-container">
			<form action="" method="post">{% csrf_token %}
			<div class="well well-lg abcp-thankyou-msg" style="background-color: #fff;">
				<h3 class="text-center" style="font-size: 23px;">Thanks for submitting contact info. 
				CSR will contact you soon.</h3>
			</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
