
{% extends 'base.html'  %}

	{% block page_name %} Dashboard {% endblock %}

    {% block title %}Dashboard{% endblock title %}

    {% block head %}
    {% load static %}

               <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
               <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
               <script type="text/javascript" src="{% static '/js/jquery.min.js' %} "></script>
               <script type="text/javascript" src="{% static '/js/bootstrap.min.js' %}"></script>
               <script type="text/javascript" src="{% static '/js/acp_common.js' %} "></script>
  				<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
               <script type="text/javascript" src="{% static '/js/jquery.loadmask.min.js' %} "></script>
               	<script type="text/javascript" src="{% static '/js/acptimer.js' %} "></script>
                <script type="text/javascript" src="{% static '/js/main.js' %} "></script>
                <script type="text/javascript" src="{% static '/js/jquery.dataTables.min.js' %}"></script> 
	 			<script type="text/javascript" src="{% static '/js/bootstrap-datatables.js' %}"></script>
	 			<script src="{% static 'js/icheck/icheck.js' %}"></script>
				<link rel="stylesheet" type="text/css" href="{% static 'css/polaris.css' %}" />

    {% endblock head %}



{% block content %}
    <!-- first row -->
    {% if success == 1  %}
    	<div id="ticket_submit_msg" class="alert alert-success"> Ticket successfully submitted.</div>
    {% elif success == 2 %}
    	<div id="ticket_submit_msg" class="alert alert-success">Your ticket has been submitted successfully. Our Customer Services Representative will get back to you shortly.</div>
    {% elif success == 0 %}
    	<div id="ticket_submit_msg" class="alert alert-danger"> Ticket not submitted.</div>
    {% elif success == -1 %}
    	<div id="ticket_submit_msg" class="alert alert-danger"> Cannot create your account. Please contact Fresh Desk Support.</div>
    {% else %}
    	<div id="ticket_submit_msg"></div>
    {% endif %}
    
    <!-- Force reset password value -->
    <input id="force_reset_pass_value" type="hidden" value="{{force_reset_pass}}" />
    <input id="mbr_value" type="hidden" value="{{mbr}}" />
    <input id="token_value" type="hidden" value="{{token}}" />
    
    
    <div class="row">
    	<div class="col-md-6" id="div_2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title acp-panel-title-color">
                            Account Details
                        </h2>
                    </div>
                    <div class="panel-body stats airebeam_cp_radio table-responsive " id="mbr_details"> 
                    	</div>
            </div>
         </div>
    	
    	
         <div class="col-md-6" id="div_2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title acp-panel-title-color">
                            Connection Status
                            <span id="speedtest_btn_container" class="panel-options">
                            	<span id="timer_container" class="acp-timer-hide"></span>
                                <button id="run_speedtest_btn" class="btn btn-info acp-speedtest-btn" onclick ="refreshStats()">Run Speed Test</button>
                            </span>
                            <div class="clearfix"></div>
                        </h2>
                    </div>
                    <div class="panel-body stats airebeam_cp_radio table-responsive " id="rstats"> 
                    	<div>
							<div class="table-responsive">
								<table class="table table-striped">
									<tbody>
					<tr>
						<th><b>Timestamp</b></th>
						{% for ts in  rs_timestamp %}	
							<th> <b> {{ts}} </b>  </th>
						{% endfor %}
					</tr>
					
					
					<tr>
						<td><b>Download Settings</b></td>
						
					</tr>
					
						
					
					
					<tr>
						<td><b>Upload Settings</b></td>
						
					</tr>
					
					
					
					<tr>
						<td><b>Antenna Installed</b></td>
						
					</tr>
					<tr>
						<td><b>Uptime</b></td>
							
					</tr>
					
					<tr>
						<td><b>Ping</b></td>
						
					</tr>
					<tr>
						<td><b>LAN</b></td>
						
					</tr>
					
					
					
				</tbody>
			
									
								</table>
							</div>
						</div>
                    
                    
                    </div>
            </div>
         </div>
        <!--./Radio stats -->
     </div>
    <!--end  first row -->
    <!-- Third row -->
    <div class="row">
        <div class="col-md-12" id="div_4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title acp-panel-title-color">
                            Existing Tickets
                            
                            <span class="panel-options">
                               <button class="btn btn-danger" type="button" onclick="view_all_tickets()"> View All</button>
                            </span>
                    </h2>
                </div>
                    <div class="panel-body acp-tickets-listing acp-existing-tickets-height" id="tickets-div" >

                   </div>
            </div>
        </div>
    </div>
    <!-- End third row -->
    
    
	{% if request.session.terms_url is not None  %}
		<!-- Modal pop up for showing terms updated message -->
		<div class="modal fade" id="terms_updated_modal">
		  <div class="modal-dialog acp-speedtest-modal max-width-65-perc">
		    <div class="modal-content">
		      <div class="modal-body text-center acp-updated-terms-padding">
		      <h4>Our Terms & Conditions have changed. In order to continue using Portal service offered by AireBeam, 
		      you must read and accept updated Terms & Conditions.</h4>
		      </div>
		      <div class="modal-footer">
				  <div class="acp-reply-section no-padding col-lg-12 abcp-modal-actions">
			     	<div class="cbp_tmlabel no-padding acp-create-form">
			     		<div class="text-center">
			             <button id="modal_view_terms_btn" type="button" 
			             class="btn btn-reply abcp-submit-btn"
			             onclick="on_modal_viewtermsclick()">View Terms</button>
			            </div>
			             
			         </div>
			     </div>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	
		<!-- Modal pop up for showing terms -->
		<div class="modal fade" id="myModal">
		  <div class="modal-dialog max-width-65-perc no-margin-top">
		    <div class="modal-content">
	<!--	      <div class="modal-header">
		        <h4 class="modal-title">Terms of Services</h4>
		      </div>-->
		      <div class="modal-body no-padding min-height80vh">
		        {% include "pdf_viewer.html" %}
		      </div>
		      <div class="modal-footer padding-5px">
		      <div class="col-sm-12 scroll-indicator">Please complete reading the document till the end in order to proceed.</div>
				  <div class="col-sm-6">
					  <label class="checkbox-inline no-padding tnc-checkbox">
						  <input class="square-input" type="checkbox" id="accept_terms_chkbox" value="enable"> Accept Terms of Services
					  </label>
				  </div>
				  <div class="acp-reply-section col-sm-6 abcp-modal-actions tnc-actions">
			     	<div class="cbp_tmlabel acp-create-form">
			             <button id="modal_accept_btn" type="button" 
			             class="btn btn-reply abcp-submit-btn disabled"
			             onclick="on_modal_submitclick()">Accept</button>
			             
			             <button id="modal_cancel_btn" 
			             type="button" class="btn btn-cancel"
			             onclick="on_modal_cancelclick()">Cancel</button>
			         </div>
			     </div>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->	    
	{% endif %}
	
	<!-- Modal pop up for speedtest warning -->
	<div class="modal fade" id="speedtest_warn_modal">
		  <div class="modal-dialog acp-speedtest-modal max-width-65-perc">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">WARNING!</h4>
		      </div>
		      <div class="modal-body">
		        Speed Test is in progress. Are you sure you want to navigate away from this page? If you click Yes, you 
might lose some data.
		      </div>
		      <div class="modal-footer">
				  <div class="acp-reply-section no-padding col-lg-12 abcp-modal-actions">
			     	<div class="cbp_tmlabel no-padding acp-create-form">
			             <button id="speedtest_modal_yes_btn" type="button" 
			             class="btn btn-reply abcp-submit-btn"
			             onclick="on_modal_yesclick()">Yes</button>
			             
			             <button id="modal_cancel_btn" 
			             type="button" class="btn btn-cancel"
			             onclick="on_modal_noclick()">No</button>
			         </div>
			     </div>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!-- Modal pop up for resetting password -->
		<div class="modal fade" id="force_reset_pass_modal">
		  <div class="modal-dialog acp-speedtest-modal max-width-65-perc">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Reset Password</h4>
		      </div>
		      <div class="modal-body">
		      <form class="form-horizontal">
		      <div class="form-group">
		      	<div id="error_div" class="alert alert-danger no-display"></div>
		      </div>
		      <div id="id_password_reset_msg" class="form-group no-display" style="padding:0px 15px;">
					<div style="margin-bottom: 0px;"  class="alert alert-success">
					Your password has been updated successfully. 
					You will be logged out and redirected to Login page in 
					<span id="logout_timer_container" class="acp-timer-hide">10</span> seconds. 
					If you are not redirected within 10 seconds, please click <a href="{% url "users:logout" %}">Logout Now</a>.
					</div>
				</div>
		      <div class="form-group">
					
					<div class="col-lg-12 text-danger text-center">As a part of password security policy, 
					you are required to update your password. You must reset your 
					password before you may log in again.</div>
				</div>
		        <div class="form-group">
					<label class="col-lg-4 control-label">New Password</label>
					<div class="col-lg-8"><input id="id_new_password" name="new_password" class="form-control" type="password" /></div>
					
				</div>
				
				<div class="form-group">
					<label class="col-lg-4 control-label">Confirm New Password</label>
					<div class="col-lg-8 text-danger"><input id="id_confirm_new_password" name="confirm_new_password" class="form-control" type="password" /></div>
					
				</div>
				
				
				</form>
		      </div>
		      <div class="modal-footer">
				  <div class="acp-reply-section no-padding col-lg-12 abcp-modal-actions">
			     	<div class="cbp_tmlabel no-padding acp-create-form">
			             <button id="rp_submit_btn" type="button" 
			             class="btn btn-reply abcp-submit-btn"
			             onclick="on_modal_rp_submitclick()">Submit</button>
			             
			             <button id="rp_logout_btn" type="button" 
			             class="btn btn-cancel pull-right"
			             onclick="on_modal_logout_submitclick()">Logout</button>
			             
			         </div>
			     </div>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->	 
	
		
	

{% endblock %}
