{% extends 'base.html'  %}
	{% block page_name %} Change Password {% endblock %}
    {% block title %}Change Password{% endblock title %}

{% block head %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/summernote-bs3.css' %}" />
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/jquery.loadmask.min.js' %} "></script>
	<script type="text/javascript">
		var ua = navigator.userAgent.toLowerCase(); 
		if (ua.indexOf('safari') != -1) { 
		  if (ua.indexOf('chrome') > -1) {
			  // Chrome
		  } else {
			  document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/webshim/1.16.0/dev/polyfiller.js"><\/script>');
		  }
		}
	</script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrapValidator.js' %}"></script>
	<script src="{% static 'js/summernote.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'tickets/main.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
	<script src="//igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
	<script type="text/javascript" src="{% static '/js/acptimer.js' %} "></script>
	<script src="{% static 'change_password/main.js' %}" ></script>
{% endblock head %}

{% block content %}
<div id="error_div" class="alert alert-danger no-display" style="margin-right:15px"></div>
<div id="id_change_password_msg" class="form-group no-display" style="padding-right: 15px;">
					<div style="margin-bottom: 0px;"  class="alert alert-success">
					Your password has been updated successfully. 
					You will be logged out and redirected to Login page in 
					<span id="logout_timer_container" class="acp-timer-hide">10</span> seconds. 
					If you are not redirected within 10 seconds, please click <a href="{% url "users:logout" %}">Logout Now</a>.
					</div>
				</div>
<div class="row grid">
	<div class="col-md-12" id="div_3">
		    <div class="panel panel-primary abcp-category">
		        <div class="panel-heading">
		            <h2 class="panel-title acp-panel-title-color">
		             Change Password
		        </h2>
		    </div>
		    <div class="panel-body">
		        <div class="form-horizontal">
		        
                    

		
								<div id="change_password_form_div">
								
								<form id="change_password_form" action="" method="post">{% csrf_token %}
	
		<div class="form-group">
			<label class="col-lg-3 control-label"><label for="id_current_password">Current Password:</label></label>
			<div class="col-lg-8"><input class="form-control" id="id_current_password" maxlength="32" name="current_password" type="password" required=""></div>
		</div>
		
		<div class="form-group">		
			<label class="col-lg-3 control-label"><label for="id_new_password">New Password:</label></label>
			<div class="col-lg-8"><input class="form-control" id="id_new_password" maxlength="32" name="new_password" type="password" required=""></div>
			<small class="col-lg-offset-3 col-lg-9 no-display error">Both password do not match</small>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label"><label for="id_new_password2">Confirm New Password:</label></label>
			<div class="col-lg-8"><input class="form-control" id="id_new_password2" maxlength="32" name="new_password2" type="password" required=""></div>
			<small class="col-lg-offset-3 col-lg-9 no-display error">Both password do not match</small>
		</div>

    <div class="row grid">
		<div id="div_3">
			<div class="panel panel-primary">
                    <div class="form-horizontal">
                        	<label class="col-lg-3 control-label"></label>
                            <div class="acp-reply-section col-lg-8">
                            	<div class="cbp_tmlabel acp-create-form">
                            	<!-- input type="submit" value="Submit" style="display:none;"-->
                                	<span id="id_submit_container" title="">
                                    	<button type="button" class="btn btn-reply btn-lg abcp-submit-btn" onclick="submit_form()">Submit</button>
                                    </span>
                                <button type="button" class="btn btn-cancel btn-lg" onclick="go_to_dashboard()">Cancel</button>
                                </div>
                            </div>
                    </div>
           </div>
        </div>
    </div>
    
    
</form>


</div>
							
                    
                     
                    
		        </div>
		    </div>
		    <!-- /panel body -->
		</div>
	</div>
</div>

{% endblock %}